virt-install \
  --name={{ inventory_hostname }} \
  --vcpus={{ vcpus }} \
  --ram={{ ram }} \
{% for disk in disks %}
  --disk path={{ disk.path }},cache=writethrough,device=disk,bus=scsi,size={{ disk.size }},format=qcow2 \
{% endfor %}
{% for bridge in bridges %}
  --network bridge={{ bridge }},model=virtio \
{% endfor %}
  --boot=cdrom,hd
  --connect=qemu:///system \
  --autostart \
  --noautoconsole \
  --graphics vnc,listen=0.0.0.0 \
  --events on_poweroff=preserve \
  --disk path={{ image_path}}/{{ fqdn }}.iso,device=cdrom,perms=ro \
  --os-type=linux \
  --os-variant=generic
